
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', 'Pacifico',;
}

header
{
  width: 100%;
  height: 64px;
  background: #34251F;
}
header h1
{
  
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.15em;
  color: #fff;
  padding-top: 10px;
  
}


.content{
  width: 100%;
  height:100vh;
  position: relative; 
}
.content article{
  width: 50%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 20px;
  background-color: white;
  display: flex;
  border-radius:10px ;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transform: translate(-50%,-50%);
}

.div1{
  width: 50%;
  height: 100%;
  position: relative;
}
.div1 .img{
  width: 100%;
  height: 80%;
  margin: 15% auto;
}
.div1 img{
  width: 100%;
  height:100%;
  margin: 0 auto;
}
.container{
  width: 50%;
  height: 100%;
  padding-top: 40px;
  padding-right: 10px;
  /* position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%); */
}

.container h1
{
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
}

.logo
{
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

.logo1{
  color:#1877F2;
  margin: 0 auto;
}
.logo2{
  color:#FF0000;
  margin: 0 auto;
}
.fa-brands
{
  font-size: 50px;
  cursor: pointer;
}

#form input::placeholder{
  width: 100%;
 color: #A9ABBD;
  font-weight: bold;
}

.user
{
  width: 100%;
  display: flex;
  
}
.user input{
  width: 49%;
  height: 40px;
  padding-left: 10px;
}
.user input:nth-child(2){
  margin-left: 1%;
}
#tel{
  padding: 10px;
}
#select{
  width: 85px;
  height: 40px;
  padding-left: 10px;
}

.number input{
    width: 77%;
    height: 40px;
    margin-top: 10px;
}
.otrdiv input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
}

#form p{
    margin-top: 30px;
    text-decoration: none;
}
#form p a
{
  text-decoration: none;
  color: #FF0000;
  margin-left: 10px;
}

.btn
{
  width: 100%;
  height: 40px;
  background-color: #34251F;
  border: none;
  
  margin-top: 40px;
  font-family: 'Public Sans';
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: white;
}

/* .btn a{
  text-decoration: none;
  color: white;
} */