*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







/* $$$$$$$  HEADER $$$$$$$$ */
header{
  position: relative;
  width: 100%;
  height: 64px;
  background-color: #34251F;
} 

/************************* Navigation  *****************************/
.navbar{
    width: 100%;
    height: 64px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #34251F;
}
.navbar .logo a{
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Pacifico';
}
 .navbar .links {
    display: flex;
    gap: 2rem;
}

 .navbar .toggle-btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.navbar li ,.dropdown-menu li{
  list-style: none;
}
.navbar a ,.dropdown-menu a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navabr a:hover ,.dropdown-menu a:hover{
  color: black;
}
.action-btn{
      /* background-color: orange; */
      padding: 0.5rem 0.4rem;
      border: 1px solid white;
      outline: none;
      font-size: 0.8rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease;
      margin-right: 10px;
}

.action-btn:hover{
      scale: 1.05;
      background-color: white;
      color: black;
}

.action-btn:active{
    scale: 0.5;

}
.dropdown-menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: #5d514c;
  backdrop-filter: blur(15px);
  overflow: hidden;
  border-radius: 10px;
  transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.dropdown-menu.open{
  height: 280px;
}
.dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu .action-btn{
  width: 100%;
  border-radius: 20px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;

} 




/*$$$$$$$$$$$$$$$$$ PRoduit *********************/

.container
{
  width: 80%;
  height: auto;
 
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  margin-top: 20px;
}
.photo
{
  width: 50%;
  height: auto;
  padding: 10px;
}
.photo img{
  width: 400px;
  height: 400px;
}
.contenu{
  width: 50%;
  height: auto;
  
}
.contenu h2,.contenu h3{
  font-family: 'Montserrat';
  margin-bottom: 10px;
  cursor: pointer;
  
}
.contenu p{
  text-align: justify;
  font-family: 'Montserrat';
  margin-bottom: 10px;
}

.copnt{
  
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.paie{
  display: flex;
  width: auto;
  height: auto;
}
.paie a{
  text-decoration: none;
  color: black;
}

.ajout{
  width: 198px;
  height: 50px;
  border: 1px solid black;
  margin-right: 10px;
}

.payer{
  width: 139px;
  height: 50px;
  color: white;
  border: none;
  background-color: #34251F;
}
.payer a{
  color: white;
}

.monAchat{
  width: 171px;
  height: 40px;
  margin-top: 10px;
  border-radius: 39px;
  border: none;
}
.monAchat a{
  text-decoration: none;
  color: black;
  
}
.livrai{
  margin-top: 20px;
}
.money{
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.money div
{
  width: 73px;
  height: 48px;
}
.money div img{
  width: 100%;
  height: 100%;
}
/* ****************************  footer ************************* */

footer{
  width: 100%;
  height: auto;
  background-color: azure;
  margin-top: 10%;
}

.primaire{
  width: 100%;
  height: 40px;
  background-color: #34251F;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.primaire h5{
  color: white;
  font-family: 'League Spartan';
}

.login input{

  width: 600px;
  border:none;
  height: 30px;
  padding: 10px;
  background-color: #5d514c;
  
} 

.login input::placeholder{
 
  font-family: 'League Spartan';
  
  font-weight: 500;
  font-size: 13px;
  opacity: 0.6;
  color: white;
 
} 
.login button{
  width: 122px;
  height: 30px;
  color: white;
  border: 1px solid white;
  background-color: #ffffff00;
  cursor: pointer;
}
.seconde{
  
  display: flex;
  justify-content: space-evenly;
  background-color:  #F2F2F2;
}
.seconde div{

    margin: 0 auto;
    margin-top: 30px;
}

.log h1{
    font-family: 'Pacifico';

}

.categories p{
  line-height: 28px;
  font-family: 'League Spartan';
}
.information a{
  display: block;
  text-decoration: none;
  color: black;
  line-height: 28px;
  font-family: 'League Spartan';
}

.contact{
  margin-top: 50px;
}
#Contact .cont1{
  display: flex;
  margin-top: 12px;
}
#Contact p{
  font-family: 'League Spartan';
}
#Contact i{
  margin-right: 10px;
}
#mail{
  
  text-decoration: none;
  color: black;
} 
.text{
  font-family: 'League Spartan';
  font-weight: bold;
  font-size: 30px;
 
}


/*************************** Produits relatifs *******************************/
.relatifs{
  width: 80%;
  height: auto;
  margin: 0 auto;
  max-width: 1000px;
  margin-top:7%;
}
.relatifs h2{
  font-family: 'League Spartan';
  margin-bottom: 20px;
}
.product{
  width: auto;
  display: flex;
  gap: 20px ;
  
}
.cardre{
  width: 255px;
  height: 378px;
  box-shadow: 0px 1px 5px black;
  
}
.cardre img{
  width: 100%;
  height: 70%;
}
.name{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
.name p{
  margin-top: 15px;
  padding: 0 10px;
}
.demo{
  color: black;
}
.demo{
  color: #F0CC84;
}






























/**************  Media Queries  **************************/


@media(max-width:992px){
    .navbar .links, .navbar .action-btn{
      display: none;
    }
    .navbar .toggle-btn{
      display: block;
    }
    .dropdown-menu{
      display: block;
    }
  
    .login input,  .login button{
      width: auto;
    }
    .seconde{
      flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    .contenu {
      width: auto;
      height: auto;
  }
  .product{
    flex-wrap: wrap;
  }
  .relatifs{
    width: 100%
  } 
}
  @media(max-width:576px){
    .dropdown-menu{
      left: 2rem;
      width: unset;
    }
    
    .contenu {
      width: auto;
      height: auto;
  }
  }